@charset "utf-8";


/* base css */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dl,dt,dd,table,caption,form,fieldset,legend,input{margin:0;padding:0;}

li{list-style-type:none;}
fieldset,img{border:0;}
li img, li a, dl img{vertical-align:top;}
address{font-style:normal;}
#acc,.h{font-size:0;width:0;height:0;line-height:0;position:absolute; left:-9999px;}

body,html{
    height:100%;   
    /* height: 1080px; */
}


/* layout */
html{font:12px "λ…Έν† μ‚°μ¤",Noto Sans;color:#666;}
#wrapper {
    width:1920px;
    margin:0 auto;
    height:900px; 
    background-color: #ebf0fa;

    min-width: 1600px;
    min-height:930px; 
    /* padding-bottom: 13.9%;
    position: relative; */
    
}

#header {
    position: relative;
    width: 100%;
    height:171px;
    margin:0 auto;
    background-color: #ebf0fa;
    clear:both;

}

#header_top {
    background-color: #1f2f54;
    height: 79px;
    
}

    h1 {
        /* vertical-align: middle; */
        margin:0 auto;
        width: 206px;
        padding-top:13px;

    }

    .util1 {
        position: absolute;
        right: 169px;
        top:31px;
        color: #b3c5e7;
        font-size: 1.2em;

    }

    .util1 span {
        background: url(img/icon.png) no-repeat 0px 3px;
        background-size: 28px;
        padding: 9px 14px;

        }


    .util2 {
        position: absolute;
        right: 100px;
        top:32px;
        color: #b3c5e7;
        font-size: 1.1em;
        
        
        /* border: 1px solid blue; */
        
    }

    .util2 a {
        text-decoration: none;
        color: #b3c5e7;
        padding: 2px 0px;
        width: 64px;
        /* border: 1px solid blue; */

    }

    .util2 a:hover {
        text-decoration: none;
        /* color: red; */
        padding: 2px 0px;
        width: 64px;

    }

    .util2 span {
        padding: 6px;
        color: #596a8d;

    }

    #header .gnb {
        padding-top: 33px;
        top:111px;
        height: 45px;
        width: 429px;
        background-color: #ebf0fa;
        margin: 0 auto;

    }


    .gnb li {
        float: left;
        font-size: 1.2em;
        font-weight: bold;
        margin-right: 3px;
        padding:12px 15px;
        border: 2px solid #d3deee;
        background-color: #fff;
        border-radius: 9px;
        
        display: block;

    }

    .gnb .over {
        
        padding:12px 15px;
        border: 2px solid #d3deee;
        background-color: #e9fbfb;
        border-radius: 7px;
        color: #222626;  
        

    }

    .gnb li a {
        text-decoration: none;     
        color: #222626;  

    }

    .gnb a:hover{
        background-color:red;
        /* float: left; */
        font-weight: bold;
        background-color: #fff;
        border-radius: 7px;

    }


    

  

#container {
    width:100%;
    height:760px;
    
    padding: 0 0px;
    border: 1px solid red;
    
}

#container:after {
    content:"";display:block;clear:both;
}

    #lnb {
        float: left; 
        position:relative;
        color:#656565;
        width: 208px;
        margin-left: 40px;
        height: 710px;
        border: 2px solid #d3deee;
        background-color: #fff;
        border-radius: 7px;
        display: block;
        
    }

    #lnb .lnb_1 .m1 {
        margin: 27px 15px 0px 15px;
        border-bottom: 2px solid #000;
        height: 28px;
    }

    #lnb .lnb_1 .m2 {
        margin: 41px 15px 0px 15px;
        border-bottom: 2px solid #000;
        height: 28px;
    }

    #lnb .lnb_1 .m3 {
        margin: 41px 15px 0px 15px;
        border-bottom: 2px solid #000;
        height: 28px;
    }

    #lnb .lnb_1 .m1 a {
        color: #000;
        font-size: 1.4em;
        font-weight: bold;
        text-decoration: none;

    }

    #lnb .lnb_1 .m2 a {
        color: #000;
        font-size: 1.4em;
        font-weight: bold;
        text-decoration: none;

    }

    #lnb .lnb_1 .m3 a {
        color: #000;
        font-size: 1.4em;
        font-weight: bold;
        text-decoration: none;

    }

    #lnb .lnb_2 li {
        margin:0px 15px 0px 15px ;
        border-bottom: 1px solid #dde0e4;
        /* border: 1px solid red; */
        height: 26px;
        padding: 14px 0 0 25px;
        background: url(./img/bullet1.png) no-repeat 12px 18px, url(./img/icon1.png) no-repeat 160px 15px;
        /* border: 1px solid blue; */

    }

    #lnb .lnb_2 a {
        color: #434343;
        font-size: 1.1em;
        /* font-weight: bold; */
        text-decoration: none;

    }

    #lnb .lnb_2 .onfocus {
        font-size: 1.1em;
        font-weight: bold;
        text-decoration: none;
        background: url(./img/bullet2.png) no-repeat 12px 18px, url(./img/icon2.png) no-repeat 160px 15px;

    }

    #lnb .lnb_2 .onfocus a {
        color: #00217e;

    }

    #lnb .lnb_2 .bg {
        background-color: #eff5fe;

    }

    #lnb .layer {
        position: absolute;
        top:100px;
        left: 220px;
        width: 240px;
        height: 300px;
        border: 2px solid #d3deee;
        background-color: #eff5fe;
        border-radius: 7px;
        /* border: 1px solid blue;
        overflow: auto; */

    }


    #lnb .layer .lnb_3 {
        /* position: absolute;
        top:100px;
        left: 220px;
        width: 240px;
        height: 300px;
        
        border: 2px solid #d3deee;
        background-color: #eff5fe;
        border-radius: 7px;*/
        border: 1px solid blue; 
        /* overflow: auto; */
        height: calc(100% - 16px);

    }

    #lnb .lnb_3 li {
        border-bottom: none;
        height: 13px;
        background-image: none;
        /* border: 1px solid red; */
        padding-left: 0;

    }

    #lnb .lnb_3 li a {
        /* color: #434141; */
        color: #656565;
        

    }

    #lnb .lnb_3 .onfocus1 a {
        color: #000;
        padding-left: 11px;
        background: url(./img/arrow.png) no-repeat 0px 4px

    }
   
    

    #contents {
        width: auto;
        margin: 0 40px 0 270px;
        
        height: 860px;

    }

    .input-group {
        position: relative;
        height: 58px;

    }

    .input-group ul {
        position: absolute;
        width: 100%;
        top: 18px;

    }

    .input-group ul .year {
        
        position: absolute;
        top: 0px;
        left: 34px;

    }

    .input-group ul li {
        float: left;
        width: 180px;
        font-size: 1.4em;
        font-weight: bold;

    }

    .input-group #relsite {
        width: 100px;
        height: 25px;
        margin-left: 3px;

    }

    .input-group span {
        
        margin-top: 5px;

    }

    #downloadBtn {
        width: 90px;
        display: flex;
        padding: 6px 0 0 14px;
        background-color: #4ab6be;
        color: white;
        border: solid 0px #4ab6be;
        border-radius: 7px;
        height: 32px;
        position: absolute;
        left: 730px;bottom: 13px;
        font-size: 1.4em;
        font-weight: 500;
    }

    .content1 {
        height: 700px;

    }


   

/* #relsitee {
    position: absolute;
    width:165px;
    padding:5px 5px 0 10px;
    /* border: 1px solid red; */


/* #relsitee input,#relsitee select{vertical-align:middle;}  */

    
	

    @media screen and (max-width: 1920px) {
        #wrapper {
            width:100%
        }

        /* body {
            font-size: 1.9em;
        } */
    }

    @media screen and (max-width: 1600px) {
        #wrapper {
            width:100%
        }

    }

    
    /* @media screen and (max-height: 540px) {
        #wrapper {
            height:100%;
        }
    } */